<a href="https://colab.research.google.com/github/karina-munoz/Rep_phyton/blob/main/Tema3-variables.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
#VARIABLES

numero = 17
decimal = 0.7
texto = 'Texto' #también se puede: "Texto"
booleanos = True #Primer letra en mayúscula!!

print(numero)
print(type(numero))

print(decimal)
print(type(decimal))

print(texto)
print(type(texto))

print(booleanos)
print(type(booleanos))

17
<class 'int'>
0.7
<class 'float'>
Texto
<class 'str'>
True
<class 'bool'>

In [4]:
#Se pueden utilizar tildes y demás caracteres
úöññ = 10
日本語 = 0
π = 3.1416

#SI SE PUEDE
algo1 = 7 #Poner el número al final
alh_ = 4 #Usar guión bajo

#NO SE PUEDE
#1al g-o = 5 // NO se pueden poner números al inicio de una variable, tampoco espacios ni guión corto

#Tampoco son válidos los signos (¬!|#$%&/()[]{}^`~¿'?\¡<>,.;:)
#Tampoco son válidas palabras reservadas como class,def,True,dict,list,set,int,etc... "Cualquiera que se ponga de color al terminar de escribir XD"

In [7]:
# VARIABLES: TUPLAS, LISTAS, SETS Y DICCIONARIOS

#Estas variables se pueden llenar con texto y números

tupla = ("hola",2) #Es INMUTABLE, no puedes modificar sus valores una vez declarado

lista = [7,5,6,8,1] #Se pueden agregar listas dentro de las listas  //  Importa donde se coloquen los valores, son dinámicos, ordenados y se pueden manejar cuantas veces queramos

set_ = {1,1,6,7,8,8} #Palabras reservadas: list, set  //  Sólo imprime una vez los numeros repetidos y no tiene órden

diccionario = {2:2, 1:5} #Se pueden guardar 2 valores, va en pares

print(tupla)
print(type(tupla))

print(lista)
print(type(lista))

print(set_)
print(type(set_))

print(diccionario)
print(type(diccionario))

('hola', 2)
<class 'tuple'>
[7, 5, 6, 8, 1]
<class 'list'>
{8, 1, 6, 7}
<class 'set'>
{2: 2, 1: 5}
<class 'dict'>

In [8]:
#LISTAS

L = list
lista_vacía = []

lista = [1,2,"Hola","Dos",'25']

lista_de_listas = [[1,1],[2,2],[3,3]]      #Propiedad de anidar

print(lista_vacía)
print(lista)
print(lista_de_listas)


print(L)                                #Tipo de variable por sí solo
print(type(lista_vacía))
print(type(lista))
print(type(lista_de_listas))

[]
[1, 2, 'Hola', 'Dos', '25']
[[1, 1], [2, 2], [3, 3]]
<class 'list'>
<class 'list'>
<class 'list'>
<class 'list'>

In [9]:
#SET

s = set([1,2,4,6,3,"1",1])         #No puede almacenar booleanos

S = set 

SET_VACIO = {}                      # NO PUEDEN HABER SETS VACIOS, SERÁ INTERPRETADO COMO DICCIONARIO

SET = {"Hola","Hola","Hola",12,12,12,12,21}

print(s)
print(SET_VACIO)                    # DICCIONARIO
print(SET)

print(type(s))
print(S)                             # Tipo de dato por sí solo
print(type(SET_VACIO))
print(type(SET))

{1, 2, 3, 4, 6, '1'}
{}
{12, 21, 'Hola'}
<class 'set'>
<class 'set'>
<class 'dict'>
<class 'set'>

In [10]:
#TUPLE

Tupla = tuple
tUpla = ()
tuPla = (1,True,8,"90",9.0)
tupLa = 0,1,(0,False),(1,True)     # Tupla anidada y sin paréntesis para definirse

print(tUpla)
print(tuPla)
print(tupLa)


print(Tupla)                # Tipo de dato por sí solo
print(type(tUpla))
print(type(tuPla))
print(type(tupLa))

()
(1, True, 8, '90', 9.0)
(0, 1, (0, False), (1, True))
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

In [ ]:
# Diccionario forma {Key : Value} A cada llave (key) hay un valor (value).

Dict = dict

Diccionario_Vacio = {}

Diccionario = dict([(1,2),("uno",'dos')])   # ¡OJO! Aquí no se usan los dos puntos ":" sino comas ","

DICCIONARIO = {"Nombre" : "Miguel",
               "Edad"   :  21,   
               "Soltero": True }

print(Diccionario_Vacio)
print(Diccionario)
print(DICCIONARIO)


print(Dict)
print(type(Diccionario_Vacio))
print(type(Diccionario))
print(type(DICCIONARIO))