<a href="https://colab.research.google.com/github/karina-munoz/Rep_phyton/blob/main/Tema4_conversion_de_datos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 3
b = "12"
c = a* b
print(c)#Se repite la cadena de strings 3 veces

121212

In [8]:
r = "12"
print(type(r))
s = int(r) #CAMBIAMOS DE UNA VARIABLE TIPO STRING A ENTERO
print(type(s))

#Otra manera, con una sola variable:
r = int(r)
print(type(r))

t = r + 2
print(t)

<class 'str'>
<class 'int'>
<class 'int'>
14

In [12]:
r = 12
print(type(r))
r = str(r) #CAMBIAMOS DE UNA VARIABLE TIPO ENTERO A STRING
print(type(r))

s = "Número: " + r #Concatenando strings
print(s)

<class 'int'>
<class 'str'>
Número: 12

In [13]:
r = "12.7"
print(type(r))
r = float(r) #CAMBIAMOS DE UNA VARIABLE TIPO STRING A FLOAT
print(type(r))

s = r+2
print(s)

<class 'str'>
<class 'float'>
14.7

In [15]:
r = 12.7
print(type(r))
r = str(r) #CAMBIAMOS DE UNA VARIABLE TIPO FLOAT A STRING
print(type(r))

s = "Número: " + r #Concatenando strings
print(s)

<class 'float'>
<class 'str'>
Número: 12.7

In [19]:
Edad = input("Introduce tu edad: ")
print(type(Edad))
Edad_num =float(Edad)
print(type(Edad_num))

#FORMA COMPACTA:
Edad = float(input("Introduce tu edad: "))
print(type(Edad))

Edad_nueva = Edad * 2 - 2
print(Edad_nueva)

Introduce tu edad: 18
<class 'str'>
<class 'float'>
Introduce tu edad: 18
<class 'float'>
34.0